<div class="data-form">
    <form action="/users/create" method="POST">
        <label for="txtFirst">First Name</label>
        <input type="text" name="first" id="txtFirst" class="form-control" required>

        <label for="txtLast">Last Name</label>
        <input type="text" name="last" id="txtLast" class="form-control" required>

        <label for="txtPassword">Password</label>
        <input type="text" name="password" id="txtPassword" class="form-control" required>

        <label for="txtEmail">Email Address</label>
        <input type="email" name="email" id="txtEmail" class="form-control" required>

        <label for="txtZipCode">Zip Code</label>
        <input type="text" name="zipCode" id="txtZipCode" class="form-control"required>
        <button type="submit">Create</button>
    </form>
</div>